.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  min-height: 100vh;
  background: #254664;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-app {
  margin-left: 20%;
  padding: 1em;
}
